<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
        <script src="myApp.js"></script>
        <link href="cover.css" rel="stylesheet">
	</head>

	<body ng-app="famHist" ng-controller="famHistCtrl">

	 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Family History</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
              </nav>
            </div>
          </div>

          <div class="container">
          	<div class="row">
          		<form class="form-inline" ng-submit="famHistAdd()">
				  
				  <div class="form-group">
				    <label for="Person">Add Person:</label>
				    <input type="text" ng-model="inputPerson" class="form-control" id="Person">
				  </div>

				  <div class="form-group">
				    <label for="Father">Add Father:</label>
				    <input type="text" ng-model="inputFather" class="form-control" id="Father">
				  </div>

				  <div class="form-group">
				    <label for="Mother">Add Mother:</label>
				    <input type="text" ng-model="inputMother" class="form-control" id="Mother">
				  </div>

				  <button type="submit" class="btn btn-default">Add New</button>
				
				</form>
			</div>
			<div class="row">
				<p>
					<div ng-repeat="x in famHistList">
						<input type="checkbox" ng-model="x.done">
						{{x.famHistPerson}}, {{x.famHistFather}}, {{x.famHistMother}}
					</div>
					<button ng-click="remove()"> Remove Checked Items</button>
				</p>
			</div>
          </div>


        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

	</body>
</html>